/*
 Theme Name:   Zozzle
 Theme URI:    http://zozzle.com/zozzle
 Description:  Zozzle Theme
 Author:       Sean Frischmann
 Author URI:   -
 Template:     wordpress-bootstrap
*/

html {
    min-height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    margin-bottom: 50px;
    padding-top: 100px;
}

a, a:focus {
   outline: 0;
}

.btn {
    border-radius: 0;
}

.home-page {
    color: #FCFCFD;
}

.white-background {
    background: white;
}

.purple-background {
    background: #AFACC1;
}

.page-header {
    display: none;
}

#content {
    font-family: georgia;
    position: relative;
}

#main {
    padding-right: 0;
    padding-left: 0;
}

.posts-page {
    margin-top: 35px;
    padding: 20px!important;
}

.post {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px!important;
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    min-height: 800px;
}

.post-card .row {
    padding-left: 15px;
    padding-right: 15px;
}

.post-card ul, .post-card ol {
    padding-left: 15px;
    padding-bottom: 10px;
}

.custom_page {
    background: #CCCCCC;
    font-size: 14px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.post-img {
    height: 300px;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.navbar {
    border-bottom: 1px dashed #B19047;
}

.header h4 {
    font-variant: small-caps;
    font-family: serif;
    color: white;
}

.header h4:hover {
    color: #B19047;
}

.header li.active {
    border-bottom: 3px solid #B19047;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.header a {
    padding-bottom: 5px!important;
}

.anchor {
    position: relative;
    top: -110px;
}

.page-margin {
    margin-top: 50px;
}

.navbar-brand {
    height: 110px;
    padding-top: 0;
}

.navbar-brand img {
    height: 110px;
}

.navbar-center {
    padding-top: 30px;
    margin-left: 15px;
}

.landing {
    height: 800px;
}

.landing h2 {
	text-align: left;
	margin-top: 25%;
    margin-left: 10%;
	line-height: 65px;
	z-index: 0;
}
.landing .container-fluid{
      background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    min-height: 100%;
}
.products .color-overlay, .diy .color-overlay, .services .color-overlay {
    color: black;
	background: #db7;
    box-shadow: inset 0px 0px 100px #740;
}

.small-caps {
    font-variant: small-caps;
}

.products .container-fluid, .services .container-fluid {
   /*padding-right: 0;
   padding-left: 0;*/
}

.products dt {
    text-align: left;
    width: 100px;
}

.products dd {
    margin-left: 100px;
    margin-bottom: 10px;
}

.product-img, .diy-img {
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
}

.add-to-cart {
    background: #B19047;
    color: white;
}

.recipes .color-overlay {
    background: rgba(0,0,0,0);
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
}

.landing, .aboutus, .contact {
    text-shadow: 2px 2px 8px black;
}

.recipe {
    background: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    opacity: .8;
}

.recipe-title {
    padding-top: 15px;
    font-size: 18px;
    font-variant: small-caps;
}

.recipe ul, .recipe ol {
    padding-left: 15px;
}

.recipe li {
    font-size: 14px;
}

.recipe-img {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.recipes-footer {
    margin-right: 1%;
    text-align: right;
}

.recipes-footer a {
    color: white;
}

.recipes-footer a:hover {
    color: #B19047;
    text-decoration: none;
}


.item {
    padding: 40px;
}

.item h3 {
    font-weight: bold;
    border-bottom: 1px dashed #444;
}

.featured-product-title {    
    padding: 10px;
    margin-bottom: 0;
    opacity: 0.5;
    background-color: white;
    position: relative;
    margin-top: -45px;
    font-weight: bold;
    border-bottom: none;
    color: black;
    width: 294px;
    margin-left: auto;
    margin-right: auto;
}

.item p {
    font-size: 14px;
}
/*
.carousel-control.right {
    right: 20px;
}

.carousel-control.left {
    left: 20px;
}

.carousel-control {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 40%;
    bottom: 40%;
    background: rgba(0,0,0,0.9);

}
*/
.diy h3, .services h3 {
    font-weight: bold;
    border-bottom: 1px dashed #444;
}
.contact h3{
    color: white;
    border-bottom: 1px dashed grey;
}
.contact{
    color: white;
}
    .diy .diy-description {
        margin-top: 40px;
    }

.diy-img, .product-img {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 400px!important;
}

.diy p {
    font-size: 16px;
}


.diy ul{
    padding-left: 15px;
    font-size: 16px;
}

.aboutus {
    background-image: url("images/bg-pattern.jpg");
    background-repeat: repeat;
    box-shadow: inset 0px 0px 50px black;
    width: 100%;
    min-height: 200px;
}

.aboutus .color-overlay {
   
    background: -webkit-linear-gradient(rgb(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
 background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax */

}

.aboutus p {
    font-size: 14px;
    margin-left: 75px;
}

.aboutus-img {
    background: url('images/robyn.png');
    background-size: initial;
    background-position: center, center;
    background-repeat: no-repeat;
    height: 405px;
}
#robyn-img{
    background: url('images/robyn-framed.png');
    background-size: stretch;
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 405px;
    width: 389px;
    position: absolute;
    top: 100%;
    margin-top: -410px;
    left: 33%;
    margin-left: -386px;
}
@media(max-width: 1199px){
    #robyn-img{
        left: 40%;
    }
}
@media(max-width: 991px){
    #robyn-img{
        left: 50%;
    }
}
.service .inner{
    background: white;
    padding-top: 15px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: .8;
    padding: 15px;
}

.services img {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 300px;
}

.contact .color-overlay {
    background: rgba(0,0,0,0);
    min-height: 500px;
}

.contact-img {
    background: url("images/contact.png");
    background-size: 100% 100%;
    height: 600px;
}

.contact h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact p {
    font-size: 16px;
}

.contact-media {
    margin: 5px;
    float: left;
    display: inline;
}

.media-icon {
    height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 100%;
}

.media-icon.twitter {
    color: #5B2C49;
}

.media-icon.instagram {
    color: #5F7433;
}

.media-icon.pinterest {
    color: #5A3A89;
}

.media-icon.facebook {
    color: #221D56;
}

.contact-media i {
    font-size: 30px;
    line-height: 50px;
}

.footer {
    height: 50px;
    background: #101010;
    color: #9d9d9d;
    margin-left: -15px;
    margin-right: -15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer .container {
    margin: 0;
}

.footer-content {
    padding-top: 10px;
}

.footer-content a {
    color: #999999;
}

.footer-content a:hover {
    color:  #B19047;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 914px) {
    .header h4 {
        font-size: 13px;
    }
}

@media (min-width: 768px){
    
    .dl-horizontal dd.product-attribute {
        margin-left: 115px;
    }
    
    .dl-horizontal dt.product-attribute {
        width: 100px;
        margin-right: 0;
    }
    
    .dl-horizontal dt.product-price {
        width: 40px;
        margin-right: 0;
    }
    
    .dl-horizontal dd.product-price  {
        margin-left: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
     .navbar-right {
        float: none !important;
        margin: auto;
        margin-left: 130px;
    }
    
}

@media (max-width: 1024px) {
    
    
    /* TOP BAR ELEMENTS */    
	.responsive-logo {
		width: 100%;
		position: relative;
		text-align: center;
		margin-top: 10px;
		padding-top: 5px;
	}
   
	.responsive-logo a {
		float: none !important;
	}

	.responsive-nav li {
		margin-bottom: 15px;
		margin-top: 0 !important;
	}

	.navbar-brand {
		width: 100%;
	}

	.navbar-brand img {
		margin: auto;
	}

}

.product .add-to-cart{
    float: right;
}

.woocommerce-page #content div.product .woocommerce-tabs{
    clear: none;
    float: right;
    width: 50%;
}

.woocommerce ul.products li.product h3 {
    margin: 0;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 0;
    opacity: 0.5;
    background-color: white;
    position: relative;
    margin-top: -49px;
    font-weight: bold;
    border-bottom: none;
    color: black;
}

/* category overrides */
.category-blog .purple-background {
    opacity: .3;
}

#mobileCarousel .item{
    padding: 0px;
}



@media (min-width: 768px){
    #products-mobile{
        display: none;
    }
   #recipes h2{
       /* display: none;*/
    }
}
@media (max-width: 767px){
    .navbar-header{
        height: 115px;
    }
    .navbar-brand{
        position: absolute;
        top: 0;
    }#recipes h2{
        text-align: center;
        color: white;
        text-shadow: 2px 2px 8px black;
        margin-top: 0px;
    }
    #products-carousel{
        display: none;
    }
    .products .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
    .item h3{
            position: relative;
            margin-top: -31px;
            background-color: white;
            opacity: 0.5;
            color: black;
            font-size: ;
            padding: 5px;
            font-size: 18px;
            margin-bottom: 0px;
    }
    #robyn-img{
        display: none;
    }
/*
    .carousel-control .glyphicon-chevron-right{
        margin-top: -10px;
    }
*/
    #products-mobile h2{
        font-size: 19px;
        text-align: center;
    }

    .responsive-nav li {
        margin-bottom: 0px;
    }

    .nav > li > a {
        padding: 0px 15px;
    }

    .nav h4{
        font-size: 18px;
        margin: 0px;
    }
    .navbar-center{
        padding-top: 0px;
    }
}

@media(max-width: 870px){
  .landing.parallax-window {
        background: url('images/landing.png');
        background-position: right center !important;
        background-size: cover;
        height: 500px;
        background-repeat: no-repeat;
    }    
}

.radial-gradient-dark{
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

.featured-img{
    height: 243px;
    opacity: .8;
    box-shadow: 2px 2px 2px black;
}
#products-carousel .row{
    height: 326px;
}
#recipes h2{
    color: white;
    font-variant: small-caps;
    opacity: .8; 
    margin-left: -15px;
    border-bottom: 1px dashed grey;
}
#diy-carousel .carousel-control{
    top: 40px;
    bottom: 40px;
    left: 40px;
}
#diy-carousel .carousel-control.right{
    right: 40px;
    left: auto;
}
@media (max-width: 1199px){
    .product_4{
        display:none;
    }
}
.service-img{
    background-size: cover; 
    width: 100%; 
    height: 300px;
}
@media (max-width: 991px){
    .product_3{
        display: none;
    }
   .service-img{
        height: 150px;
    }
    
}
@media (max-width: 600px){
    .product-intro{
        margin-left: 15%;
        width: 70%;
    }
    .featured-products{
        width: 70%;
        margin-left: 15%;
    }
}
@media (max-width: 500px){
    .product-intro{
        margin-left: 0px;
        width: 100%;
    }
    .featured-products{
        margin-left: 0px;
        width: 100%;
    }
    .service{
        width: 100%;
    }
    .service-img{
        height: 200px;
    }
    .aboutus p{
        margin-left: 0px;
    }
}
