/*

 Theme Name:   Zozzle

 Theme URI:    http://zozzle.com/zozzle

 Description:  Zozzle Theme

 Author:       Sean Frischmann

 Author URI:   -

 Template:     wordpress-bootstrap

*/



@font-face {

  font-family: 'Lato-bold';

  src: url("fonts/Lato-Bold_0.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'Lato-regular';

  src: url("fonts/Lato-Regular.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'MeriendaOne-regular';

  src: url("fonts/honey-script.light.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'Lato-light';

  src: url("fonts/Lato-Light.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;

}

#content {
    padding: 0 !important;
}

html {height: 100%;}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 360px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

body {

    min-height: 100%;

    padding-top: 100px;

    font-family: Lato-light;

    background-color: #222222;

    color: #fff;

}

input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: transparent;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
  color: transparent;
}
input:focus:-ms-input-placeholder { /* IE 10+ */
  color: transparent;
}
input:focus:-moz-placeholder { /* Firefox 18- */
  color: transparent;
}


.text-light {
    font-family: Lato-light;
}

a, a:focus {

   outline: 0;

}

.terms a {
    text-decoration: underline;
}
.terms a:hover {
    text-decoration: none;
}

.btn {

    border-radius: 0;

}



.woocommerce table.shop_table {

    border: 0;

}



.home-page {

    color: #FCFCFD;

}



.white-background {

    background: #222222;

}



.purple-background {

    background: #222222;

}



.page-header {

    display: none;

}



#content {

    font-family: Lato-light;

    position: relative;

}



#main {

    padding-right: 0;

    padding-left: 0;

}



.posts-page {

    padding-bottom: 50px;

}



.post {

    background: #161616;

    color: white;

    padding-bottom: 80px !important;

}



.post-card {

    padding-left: 5px;

    padding-right: 5px;

}



.post-card ul, .post-card ol {

    padding-left: 20px;

    padding-bottom: 0;

}



.custom_page {

    background: #222;

    color: white;

    font-size: 14px;

}



.post-img {

    height: 300px;

    width: 100%;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    background-size: cover;

    background-position: center, center;

    background-repeat: no-repeat;

    margin-bottom: 10px;

}



.navbar {

    border-bottom: 1px dashed #B19047;

}



.header h4 {

    font-variant: small-caps;

    font-family: serif;

    color: white;

}



.header h4:hover {

    color: #B19047;

}



.header li.active {

    border-bottom: 3px solid #B19047;

}



.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {

    background-color: transparent;

}



.header a {

    padding-bottom: 5px!important;

}



.anchor {

    position: relative;

    top: -110px;

}



.page-margin {

    margin-top: 50px;

}



.navbar-brand {

    height: 110px;

    padding-top: 0;

}



.navbar-brand img {

    height: 110px;

}



.navbar-center {

    padding-top: 30px;

    margin-left: 15px;

}



.landing {

    height: 800px;

}



.landing h2 {

	text-align: left;

	margin-top: 25%;

    margin-left: 10%;
	line-height: 65px;

    

	z-index: 0;

}

.landing .container-fluid{

      background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */

  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */

  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);

    min-height: 100%;

}

.products .color-overlay, .diy .color-overlay, .services .color-overlay {

    color: black;

	background: #db7;

    box-shadow: inset 0px 0px 100px #740;

}


.products .carousel-inner .col-sm-offset-1.col-sm-5 {
    padding-right: 40px;
}

.small-caps {

    font-variant: small-caps;

}



.products .container-fluid, .services .container-fluid {

   /*padding-right: 0;

   padding-left: 0;*/

}



.products dt {

    text-align: left;

    width: 100px;

}



.products dd {

    margin-left: 100px;

    margin-bottom: 10px;

}



.product-img, .diy-img {

    background-size: cover;

    background-position: center, center;

    background-repeat: no-repeat;

}



.add-to-cart {

    background: #B19047;

    color: white;

}

.empty-cart {
    padding: 40px 0;
}

.cart-empty {
    color: white;
    margin-bottom: 20px !important;
}

.woocommerce a.button.wc-backward {
    background: transparent;
    color: #ba9749;
    border: 1px solid #ba9749;
}

.woocommerce a.button.wc-backward:hover,
.woocommerce a.button.wc-backward:focus,
.woocommerce a.button.wc-backward:active {
    background-color: #ba9749;
    color: black;
}



.recipes .color-overlay {

    background: rgba(0,0,0,0);

    padding-top: 15px;

    padding-bottom: 15px;

    color: black;

}



.landing, .aboutus, .contact {

    text-shadow: 2px 2px 8px black;

}



.recipe {

    background: white;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    padding: 15px;

    margin-bottom: 20px;

    opacity: .8;

}



.recipe-title {

    padding-top: 15px;

    font-size: 18px;

    font-variant: small-caps;

}



.recipe ul, .recipe ol {

    padding-left: 15px;

}



.recipe li {

    font-size: 14px;

}



.recipe-img {

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    background-size: cover;

    background-position: center, center;

    background-repeat: no-repeat;

    width: 100%;

    height: 200px;

}



.recipes-footer {

    margin-right: 1%;

    text-align: right;

}



.recipes-footer a {

    color: white;

}



.recipes-footer a:hover {

    color: #B19047;

    text-decoration: none;

}





.item {

    padding: 40px;

}



.featured-product-title {    

    padding: 10px;

    margin-bottom: 0;

    opacity: 0.5;

    background-color: white;

    position: relative;

    margin-top: -37px;

    font-weight: bold;

    border-bottom: none;

    color: black;

    margin-left: auto;

    margin-right: auto;

    font-family: Lato-regular;

    font-size: 16px;

}



.item p {

    font-size: 14px;

}

/*

.carousel-control.right {

    right: 20px;

}



.carousel-control.left {

    left: 20px;

}



.carousel-control {

    width: 70px;

    height: 70px;

    border-radius: 50%;

    top: 40%;

    bottom: 40%;

    background: rgba(0,0,0,0.9);



}

*/

.contact h3{

    color: white;

    border-bottom: 1px dashed grey;

}

.contact{

    color: white;

}

    .diy .diy-description {

        margin-top: 40px;

    }



.diy-img, .product-img {

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    height: 400px!important;

}



.diy p {

    font-size: 16px;

}





.diy ul{

    padding-left: 15px;

    font-size: 16px;

}



.aboutus {

    background-image: url("images/meet-bg.jpg");

    background-size: cover;

    width: 100%;

    min-height: 200px;

}



.aboutus .color-overlay {

   

    background: -webkit-linear-gradient(rgb(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */

   background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */

  background: -moz-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */

 background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax */



}



.aboutus p {

    font-size: 14px;

    margin-left: 75px;

}



.aboutus-img {

    background: url('images/robyn.png');

    background-size: initial;

    background-position: center, center;

    background-repeat: no-repeat;

    height: 405px;

}

#robyn-img{

    background: url('images/robyn-framed-2.png');

    background-size: stretch;

    background-position: left bottom;

    background-repeat: no-repeat;

    height: 405px;

    width: 389px;

    position: absolute;

    top: 100%;

    margin-top: -430px;

    left: 33%;

    margin-left: -386px;

}

@media(max-width: 1199px){

    #robyn-img{

        left: 40%;

    }

}

@media(max-width: 991px){

    #robyn-img{

        left: 50%;

    }

}

.service .inner{

    background: white;

    padding-top: 15px;

    margin-bottom: 25px;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    opacity: .8;

    padding: 15px;

}



.services img {

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    width: 100%;

    height: 300px;

}



.contact .color-overlay {

    background: rgba(0,0,0,0);

    min-height: 500px;

}



.contact-img {

    background: url("images/contact.png");

    background-size: 100% 100%;

    height: 600px;

}



.contact h2 {

    margin-top: 40px;

    margin-bottom: 40px;

}



.contact p {

    font-size: 16px;

}



.contact-media {

    margin: 5px;

    float: left;

    display: inline;

}



.media-icon {

    height: 50px;

    width: 50px;

    background: rgba(255, 255, 255, 0.65);

    border-radius: 100%;

}



.media-icon.twitter {

    color: #5B2C49;

}



.media-icon.instagram {

    color: #5F7433;

}



.media-icon.pinterest {

    color: #5A3A89;

}



.media-icon.facebook {

    color: #221D56;

}



.contact-media i {

    font-size: 30px;

    line-height: 50px;

}



.footer {

    background-image: url('images/footer_bg.png');

    background-size: cover;

}



.footer-content {

    padding-top: 10px;

}



.footer-content a {

    color: #999999;

}



.footer-content a:hover {

    color:  #B19047;

    text-decoration: none;

}



@media (min-width: 768px) and (max-width: 914px) {

    .header h4 {

        font-size: 13px;

    }

}



@media (min-width: 768px){

    

    .dl-horizontal dd.product-attribute {

        margin-left: 115px;

    }

    

    .dl-horizontal dt.product-attribute {

        width: 100px;

        margin-right: 0;

    }

    

    .dl-horizontal dt.product-price {

        width: 40px;

        margin-right: 0;

    }

    

    .dl-horizontal dd.product-price  {

        margin-left: 50px;

    }

}



@media (min-width: 992px) and (max-width: 1024px) {

     .navbar-right {

        float: none !important;

        margin: auto;

        margin-left: 130px;

    }

    

}



@media (max-width: 1024px) {

    

    

    /* TOP BAR ELEMENTS */    

	.responsive-logo {

		width: 100%;

		position: relative;

		text-align: center;

		margin-top: 10px;

		padding-top: 5px;

	}

   

	.responsive-logo a {

		float: none !important;

	}



	.responsive-nav li {

		margin-bottom: 15px;

		margin-top: 0 !important;

	}



	.navbar-brand {

		width: 100%;

	}



	.navbar-brand img {

		margin: auto;

	}



}



.product .add-to-cart{

    float: right;

}

.product .add-to-cart:hover {
    text-decoration: none;
}



.woocommerce-page #content div.product .woocommerce-tabs{

    clear: none;

    float: right;

    width: 48%;

}



.woocommerce ul.products li.product h3 {

    margin: 0;

    font-size: 1em;

    padding: 10px;

    margin-bottom: 0;

    opacity: 0.5;

    background-color: white;

    position: relative;

    margin-top: -49px;

    font-weight: bold;

    border-bottom: none;

    color: black;

}



/* category overrides */

.category-blog .purple-background {

    opacity: .3;

}



#mobileCarousel .item{

    padding: 0px;

}







@media (min-width: 768px){

    #products-mobile{

        display: none;

    }

   #recipes h2{

       /* display: none;*/

    }

}

@media (max-width: 767px){

    .navbar-header{

        height: 115px;

    }

    .navbar-brand{

        position: absolute;

        top: 0;

    }#recipes h2{

        text-align: center;

        color: white;

        text-shadow: 2px 2px 8px black;

        margin-top: 0px;

    }

    #products-carousel{

        display: none;

    }

    .products .container-fluid{

        padding-left: 15px;

        padding-right: 15px;

    }

    .item h3{

            position: relative;

            margin-top: -31px;

            background-color: white;

            opacity: 0.5;

            color: black;

            font-size: ;

            padding: 5px;

            font-size: 18px;

            margin-bottom: 0px;

            text-decoration: none;

            font-family: Lato-regular;

    }

    .item a {

        text-decoration: none;

    }

    #robyn-img{

        display: none;

    }

/*

    .carousel-control .glyphicon-chevron-right{

        margin-top: -10px;

    }

*/

    #products-mobile h2{

        font-size: 19px;

        text-align: center;

    }

    ul.responsive-nav {
        width: 100%;
    }

    .responsive-nav li {

        margin-bottom: 0px;
        padding: 5px 0;

    }



    .nav > li > a {

        padding: 0px 15px;

    }



    .nav h4{

        font-size: 18px;

        margin: 0px;

    }

    .navbar-center{

        padding-top: 0px;

    }

}



@media(max-width: 870px){

  .landing.parallax-window {

        background: url('images/landing.png');

        background-position: right center !important;

        background-size: cover;

        height: 500px;

        background-repeat: no-repeat;

    }    

}



.radial-gradient-dark{

    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);

    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);

}



.featured-img{

    height: 243px;

    opacity: .8;

    box-shadow: 2px 2px 2px black;

}

#products-carousel .row{

    height: 326px;

}

#diy-carousel .carousel-control{

    top: 40px;

    bottom: 40px;

    left: 40px;

}

#diy-carousel .carousel-control.right{

    right: 40px;

    left: auto;

}

@media (max-width: 1199px){

    .product_4{

        display:none;

    }

}

.service-img{

    background-size: cover; 

    width: 100%; 

    height: 300px;

}

@media (max-width: 991px){

    .product_3{

        display: none;

    }

   .service-img{

        height: 150px;

    }

    

}

@media (max-width: 600px){

    .product-intro{

        margin-left: 15%;

        width: 70%;

    }

    .featured-products{

        width: 70%;

        margin-left: 15%;

    }

}

@media (max-width: 500px){

    .product-intro{

        margin-left: 0px;

        width: 100%;

    }

    .featured-products{

        margin-left: 0px;

        width: 100%;

    }

    .service{

        width: 100%;

    }

    .service-img{

        height: 200px;

    }

    .aboutus p{

        margin-left: 0px;

    }

}





/*******************************/

/* PRODUCTS 

/*******************************/



.products-page {

    background-color: #222222;
    padding-bottom: 35px;

}



.woocommerce div.product {

    margin-bottom: 20px;

}



.products__header {

    margin-bottom: 60px;
    margin-top: 20px;

}



.products__categories {

    float: left;

    width: 30%;

}

.products__categories .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.products__categories .bootstrap-select .dropdown-toggle {
    border-radius: 0;
}

.products__categories .bootstrap-select.open .dropdown-menu.inner {
}

.products__categories .dropdown-menu.inner::-webkit-scrollbar {
    width: 15px;
    padding: 0 3px;
}
 
.products__categories .dropdown-menu.inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #1b1b1b;
}
 
.products__categories .dropdown-menu.inner::-webkit-scrollbar-thumb {
    background-color: #111111;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    cursor: pointer;
}

.products__header .products__tags {

    float: right;

    width: 65%;

}

.products__header .product__tag {

    padding: 7px 20px;

    border: 1px dashed #b08f46;

    margin-right: 10px;

    margin-bottom: 10px;

    border-radius: 3px;

}

.products__header .product__tag.active {

    color: black;

    background-color: #b08f46;

}

.products__header .product__tag:last-of-type {

    border: 1px dashed #b08f46;

}

.products__categories .bootstrap-select {

    width: 100% !important;

}

.products__categories .bootstrap-select .dropdown-toggle {

    background-color: transparent;

    color: #b08f46;

    border: 1px solid #b08f46;

    border-radius: 2px;

    font-family: Lato-bold;

    outline: none;

}

.products__categories .bootstrap-select .dropdown-menu {

    padding: 0;

    border-radius: 0;

    

}

.products__categories .bootstrap-select .dropdown-menu li a {

    color: #60502F;

    padding-left: 11px;

    font-family: Lato-bold;

}

.products__categories .bootstrap-select .dropdown-menu li a:hover {

    background-color: #BA9749;

    color: #222222;

}

.products__categories .bootstrap-select .dropdown-menu.inner {

    background-color: #222222;

}

.products__categories>ul {

    list-style: none;

    margin: 0;

    padding: 0;

}

.products__categories>ul>li {

    display: block;

    float: left;

    padding: 5px 15px;

    border-left: 1px dashed #b08f46;

}

.products__categories>ul>li:first-of-type {

    padding-left: 0;

    border-left: 0;

}

.products__categories>ul>li>a {

    text-decoration: none;

    font-size: 19px;

    font-family: Lato-regular;

    color: white;

}

.products__categories>ul>li.active>a {

    font-family: Lato-bold;

    color: #b08f46;

}

.products__categories>ul>li>a:focus,

.products__categories>ul>li>a:hover {   

    color: #b08f46;

}



.product__description {

    background-color: #161616;

    padding: 0 25px;

    color: white;

    overflow: hidden;

    text-overflow: ellipsis;

}

.product__description>h3>a {

    font-family: Lato-bold;

    font-size: 24px;

    margin-top: 20px;

    margin-bottom: 20px;

    color: white;

    text-decoration: none;

}

.product__description>p {

    font-family: Lato-light;

    font-size: 16px;

    margin-bottom: 20px;

    height: 46px;

    overflow: hidden;

    text-overflow: ellipsis;

}

.product__price {

    float: left;

    padding-right: 20px;

}

.product__price-dollars {

    float: left;

    color: #b08f46;

    font-family: Lato-regular;

    font-size: 40px;

}

.product__price-cents {

    float: left;

    color: #b08f46;

    font-family: Lato-regular;

    font-size: 24px;

}

.product__quantity {

    position: relative;

    float: left;

    margin-top: 5px;

    padding: 8px 45px 8px 15px;

    color: #b08f46;

    border-left: dashed 1px #b08f46;

    border-right: dashed 1px #b08f46;

}



.product__order {

    margin-bottom: 30px;

}



.product__order-value {

    font-family: Lato-regular;

    font-size: 22px;

}

.product__order-btn-up {

    position: absolute;

    top: 15px;

    right: 22px;

    width: 16px;

    height: 8px;

    background-color: transparent;

    border: 0;

    outline: none;

    background-image: url('images/icn/icn_arrow_v.png');

    background-size: cover;

}

.product__order-btn-down {

    position: absolute;

    bottom: 15px;

    right: 22px;

    width: 16px;

    height: 8px;

    background-color: transparent;

    border: 0;

    outline: none;

    background-image: url('images/icn/icn_arrow_v.png');

    background-size: cover;

    -webkit-transform: rotate(180deg);

    -moz-transform: rotate(180deg);

    -ms-transform: rotate(180deg);

    -o-transform: rotate(180deg);

    transform: rotate(180deg);

}



.add-to-cart {

    float: right;

    padding: 5px 10px;

    margin-top: 10px;

    background-color: transparent;

    border: solid 1px #b08f46;

    color: #b08f46;

    font-family: Lato-bold;

}



.add-to-cart:hover,

.add-to-cart:focus {

    background-color: #b08f46;

    color: black;

}



.product__tags {

    margin-bottom: 35px;

    min-height: 31px;

}



.post__tags {

}



.product__tag {

    display: inline-block;

    float: left;

    color: #b08f46;

    border-right: 1px dashed #b08f46;

    padding: 3px 10px;

    margin-bottom: 5px;

    cursor: pointer;

    font-family: Lato-bold;

}



.product__tag:hover {

    text-decoration: none;

    color: #b08f46;

}



.product__tag:last-of-type {

    border-right: 0;

}


/*******************
/* PRODUCT 
/******************/

.woocommerce.single-product #content {
    margin-bottom: 30px;
}
.spice-single .products.related ul.products li.product:nth-of-type(4n) {
    margin-right: 0;
}
.products.related  h2 {
    font-family: Lato-bold;
    font-size: 24px;
    clear: both;
    text-align: center;
    color: #ba9749;
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: #222222;
    margin-bottom: 0;
}
.products.related ul.products {
    background-color: #222222;
    margin-bottom: 0;
}

.products.related ul.products li.product .price,
.products.related ul.products li.product .button {
    display: none;
}
.woocommerce .spice-single .product {
    margin-bottom: 0;
}

.woocommerce .products.related ul.products li.product h3 {
    font-family: Lato-bold;
    text-align: center;
}


@media (max-width: 1200px) {

    .products__categories>ul>li {

        padding: 5px 10px;

    }

    .products__categories>ul>li>a {

        font-size: 16px;

    }

}

@media (max-width: 992px) {

    .products__categories>ul>li {

        padding: 1px 5px;

    }

    .products__categories>ul>li>a {

        font-size: 14px;

    }

}

@media (max-width: 768px) {

    .products__categories {

        padding: 25px 0;

    }

}



/*******************************/

/* PRODUCTS PAGINATION

/*******************************/

.pagination {
    display: none;
}

.products__pagination {

    margin-top: 35px;

    margin-bottom: 35px;

    text-align: center;

}



.products__pagination a {

    color: #b08f46;

    font-family: Lato-regular;

    text-decoration: none;

    text-transform: uppercase;

    font-size: 16px;

}



.products__pagination .prev,

.products__pagination .pages,

.products__pagination .next {

    display: inline-block;

    position: relative;

}



.products__pagination .pages {

    margin: 0 50px;

}



.products__pagination .pages a {

    display: inline-block;

    width: 20px;

    height: 20px;

    margin: 0 7px;

}



.products__pagination .pages a:hover {

    border-radius: 50%;

    background-color: #b08f46;

    color: black;

}



.products__pagination .prev a::before {

    content: '';

    position: absolute;

    background-image: url('images/icn/icn_arrow_h.png');

    background-size: cover;

    width: 8px;

    height: 14px;



    top: 4px;

    left: -25px;



    -webkit-transform: rotate(180deg);

    -moz-transform: rotate(180deg);

    -ms-transform: rotate(180deg);

    -o-transform: rotate(180deg);

    transform: rotate(180deg);

}



.products__pagination .next a::after {

    content: '';

    position: absolute;

    background-image: url('images/icn/icn_arrow_h.png');

    background-size: cover;

    width: 8px;

    height: 14px;



    top: 4px;

    right: -25px;

}



@media (max-width: 768px) {

    .products__pagination {

        margin: 0 5px;

    }

    .products__pagination .pages {

        margin: 0 10px;

    }

    .products__pagination .pages a {

        font-size: 14px;

        margin: 0;

    }

}



/*******************************/

/* PRODUCTS BOOTSTRAP GRID FIX

/*******************************/



/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) { 

    .product-fix:nth-child(2n)::after {

        content: '';

        width: 100%;

        height: 10px;

        display: table;

        clear: both;

    }

}



/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {

    .product-fix:nth-child(2n)::after {

        display: none;

    }

    .product-fix:nth-child(3n)::after {

        content: '';

        width: 100%;

        height: 10px;

        display: table;

        clear: both;

    }

}





/*******************************/

/* FOOTER

/*******************************/



.footer {

    padding-top: 25px;

    padding-bottom: 20px;

    background-color: #222222;

}



.footer__copyright {

    margin-top: 25px;

    text-align: center;

    color: #f0f0f0;

    font-family: Lato-light;

    font-size: 20px;

}



.footer__copyright a {

    color: #f0f0f0;

    text-decoration: underline;

}

.footer__copyright a:hover {

    color: #f0f0f0;

    text-decoration: none;

}



.footer__logo img {

    width: 50%;

    max-width: 200px;

}



.footer__socials {

    margin-top: 5px;

}



.footer__socials img {

    width: 40px;

    margin-right: 10px;

}



.footer__contacts {

    margin-bottom: 65px;

}



.footer__contacts h4 {

    font-family: MeriendaOne-regular;

    font-size: 70px;

    color: white;

}



.footer__contacts p {

    font-family: Lato-light;

    font-size: 20px;

    line-height: 34px;

    color: #f0f0f0;

}

.footer__contacts a {
    color: white;
    text-decoration: none;
}



@media (max-width: 768px) {

    .footer__logo {

        text-align: center;

    }

    .footer__logo img {

        max-width: 50%;

    }

    .footer__socials {

        margin-bottom: 25px;

        text-align: center;

    }

    .footer__contacts {

        text-align: center;

    }

}





/*******************************/

/* POST RECIPES

/*******************************/



.recipes {

    margin-bottom: 50px;
    padding-top: 65px;

}



.post__recipe {

    position: relative;

}



.post__header {

    padding: 5px;

}

.post__img {

    position: relative;

    height: 220px;

    overflow: hidden;

}

.post__img img {

    width: 100%;

}

.post__title {

    position: absolute;

    width: 100%;

    padding: 15px 20px;

    margin: 0;

    bottom: 0;

    left: 0;

    font-family: Lato-bold;

    font-size: 20px;

    color: black;

    background-color: rgba(255,255,255, .5);

}

.post__content-wrapper {

    position: relative;

    height: 231px;

}

.post__content-show-link {

    display: none;

    position: absolute;

    color: #b08f46;

    font-size: 16px;

    bottom: -30px;

    right: 20px;

    font-family: Lato-light;

    padding: 0 5px;
    border: 1px dashed #b08f46;

    

}

.post__content-show-link:hover,

.post__content-show-link:focus {

    text-decoration: none;

    color: black;
    font-weight: bold;
    background-color: #b08f46;
    border: 1px solid #b08f46;
    border-radius: 2px;

}

.post__content-hide-link {

    display: none;

    color: #b08f46;

    font-size: 16px;

    font-family: Lato-light;

    padding: 0 5px;
    border: 1px dashed #b08f46;
    float: right;

    
    
}

.post__content-hide-link:hover,

.post__content-hide-link:focus {

    text-decoration: none;

    color: black;
    font-weight: bold;
    background-color: #b08f46;
    border: 1px solid #b08f46;
    border-radius: 2px;

}

.post__content {

    max-height: 231px;

    position: absolute;

    top: 0;

    left: 0;

    background-color: #161616;

    margin-bottom: 20px;

    padding: 24px 20px 15px;

    font-family: Lato-light;

    font-size: 16px;

    overflow: hidden;

    text-overflow: ellipsis;

    z-index: 99;

}



.post__content._full {

    max-height: 9999px;

}

.post__content._full .post__content-hide-link {
    display: inline;
}



.post__content ol li {

    margin-bottom: 15px;

}

.post__content p,
.post__content a,
.post__content li,
.post__content h4 {
    font-size: 16px;
    line-height: 20px;
}

#main article footer.post__tags {

    position: absolute;

    bottom: 25px;

    left: 20px;

}



.product__tag {

    display: inline-block;

    float: left;

    color: #b08f46;

    border-right: 1px dashed #b08f46;

    padding: 3px 10px;

    cursor: pointer;

    font-family: Lato-bold;

}



.product__tag:hover,
.product__tag:focus {

    text-decoration: none;

    color: #b08f46;

}

.recipes .post__content .lead {
    font-size: 16px;
}

.post__date {
    margin-top: 0;
    font-size: 16px;
    color: #b08f46;
    font-weight: bold;
}


/*******************************/

/* HOME

/*******************************/



.main-title {

    margin: 35px 0 45px 0;

    position: relative;

    padding-bottom: 20px;

    font-family: MeriendaOne-regular;

    font-size: 70px;

    font-variant: normal;

    color: white;

    border: 0;

}

.main-title::after {

    content: '';

    position: absolute;

    bottom: 0;

    left: 0;

    width: 180px;

    border-bottom: dashed 1px white;

}

.main-title._dark {

    color: #2b261b;

}



.main-title._dark::after {

    border-bottom: dashed 1px #2b261b;

}

.main-title._no-border {

    font-size: 70px;

    margin-top: 0;

    margin-bottom: 0px;

    border: 0;

}

.main-title._meet {
    margin-top: 40px;
    margin-left: 80px;
}

.main-title._no-border::after {

    display: none;

}

.home__heading {

    margin-top: 15%;

}



.home__heading>h2 {

    margin: 0 0 45px 0;

    font-size: 70px;

    font-family: MeriendaOne-regular;

}



.home__heading>p {

    width: 35%;

    font-family: Lato-light;

    font-size: 18px;



    text-shadow: 0px 0px 10px black, 0px 0px 5px black, 0px 0px 3px black;

}



/*--- Home-recipes ---*/



.home__1st-recipe {

    height: 525px;

    overflow: hidden;

    

    padding: 0;

    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;



    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);

    -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);

    box-shadow: 0px 0px 7px 2   px rgba(0,0,0,0.75);

}



.home__1st-recipe-img {

    width: 50%;

    float: left;

}



.home__1st-recipe-img img {

    width: 100%;

}



.home__1st-recipe-content {

    position: relative;

    padding: 20px 40px;

    width: 50%;

    height: 100%;

    float: right;



    background-color: #161616;

}

.home__1st-recipe-content ul,

.home__1st-recipe-content ol {

    padding-left: 20px;

}



.home__1st-recipe-content h4 {

    margin-bottom: 20px;

    font-size: 20px;

    font-family: Lato-bold;

}



.home__1st-recipe-content .post__tags._home {

    position: absolute;

    bottom: 15px;

    left: 40px;

}



.home__1st-recipe-content .content {

    font-size: 16px;

    font-family: Lato-light;

}



.home__1st-recipe-content .content ol>li {

    margin-bottom: 15px;

}



.home__recipe {

    position: relative;

    width: 100%;

    cursor: pointer;

    overflow: hidden;

    margin-bottom: 10px;



    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);

    -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);

    box-shadow: 0px 0px 7px 2   px rgba(0,0,0,0.75);

}

.home__recipe-link-outer {

    cursor: pointer;

}

.home__recipe img {

    width: 100%;

}

.home__recipe-title {

    position: absolute;

    width: 100%;

    padding: 15px 0;

    text-align: center;

    color: black;

    font-family: Lato-bold;

    font-size: 22px;

    margin: 0;

    left: 0;

    bottom: 0;

    background-color: rgba(255,255,255,0.5);

    color: #2b261b;



    -webkit-transition: bottom 1s; /* Safari */

    transition: bottom 1s;

}



.home__recipe-effect {

    position: absolute;

    width: 100%;

    height: 100%;

    background-color: white;

    opacity: 0;

    top: 0;

    left: 0;



    -webkit-transition: opacity 1s; /* Safari */

    transition: opacity 1s;

}



.home__recipe-link {

    position: absolute;

    width: 150px;

    margin-left: -75px;

    left: 50%;

    bottom: -75%;



    padding: 7px 0;

    text-align: center;

    font-family: Lato-bold;

    font-size: 20px;



    border: 3px solid #2b261b;

    border-radius: 3px;

    color: #2b261b;



    -webkit-transition: bottom 1s; /* Safari */

    transition: bottom 1s;

    opacity: 1;

}



.home__recipe:hover .home__recipe-effect {

    opacity: .5; 

}

.home__recipe:hover .home__recipe-title {

    bottom: 50%;

    background-color: transparent;

}

.home__recipe:hover .home__recipe-link {

    bottom: 20%;

}



.home__more-recipes {

    float: right;

    border: 3px solid #ba9749;

    border-radius: 3px;

    padding: 5px 10px;

    margin-top: 20px;

    margin-bottom: 30px;

    margin-right: 15px;

    cursor: pointer;

}

.home__more-recipes:hover {

    background-color: #ba9749;

}

.home__more-recipes:hover a {

    color: black;

}

.home__more-recipes a {

    color: #ba9749;

    font-family: Lato-bold;

    font-size: 20px;

    text-decoration: none;

}

.services__link {

    float: right;

    border: 3px solid #161616;

    border-radius: 3px;

    margin-top: 20px;

    margin-bottom: 30px;

    margin-right: 25px;

    cursor: pointer;

}

.services__link:hover {

    background-color: #ba9749;

}

.services__link:hover a {

    color: #161616;

}

.services__link a {

    color: #161616;

    font-family: Lato-bold;

    font-size: 20px;

    text-decoration: none;

    padding: 5px 60px;

}





/*--- Home Do it yourself section ---*/



.home__doit .carousel-control .glyphicon-chevron-left {

    margin-left: -75px;

}

.home__doit .carousel-control .glyphicon-chevron-right {

    margin-right: -75px;

}

.home__doit .carousel-control.left {

    background-image: none;

}

.home__doit .carousel-control.right {

    background-image: none;

}



.home__doit-slider-wrapper {

    position: relative;

}

.home__doit .carousel-indicators {

    bottom: 5px;

}

.home__doit-slider-wrapper .diy-img {

    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);

    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);

    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);

}



.home__doit-text {

    font-family: Lato-light;

    color: #2b261b;

}



.home__doit-text p,

.home__doit-text li {

    font-size: 18px;

}



.home__doit-text p {

    margin-bottom: 35px;

}

.home__doit-text li {

    margin-bottom: 5px;

}



/*--- About Us section ---*/



.aboutus p {

    font-family: Lato-light;

    font-size: 16px;

}



/*--- Services section ---*/



.services .color-overlay {

    padding-bottom: 50px;

}

.services__service {

    width: 95%;

    margin-bottom: 15px;



    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);

    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);

    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);

}

.services__service-img {

    width: 50%;

    height: 235px;

    float: left;

    background-size: cover;

}

.services__service-img img {

    width: 100%;

    height: auto;

}

.services__service-content {

    width: 50%;

    height: 235px;

    background-color: #161616;

    color: white;

    font-family: Lato-light;

    font-size: 16px;

    padding: 15px;

    float: right;

}

.services__service-content h4 {

    margin-top: 15px;

    margin-bottom: 35px;

    font-family: Lato-bold;

}



/*--- Custom Page ---*/



.custom_page {

    padding: 20px 50px;
    margin-top: 30px;

}
.custom_page h1,
.post_content h1 {

    margin-top: 10px;

    margin-bottom: 20px;

    font-family: Lato-bold;

}

.custom_page section,
.post_content,
.post_content p,
.post_content li {

    font-family: Lato-light;

    font-size: 18px;

}

.custom_page section h4,
.post_content h4 {

    margin-bottom: 0;

    font-family: Lato-bold;

    font-size: 20px;

}





/*--- Navigation ---*/



.main-nav-list li a {

    font-family: Lato-regular !important;

    color: white !important;

    padding-top: 20px !important;

    padding-bottom: 15px !important;

}

.main-nav-list li a:hover,

.main-nav-list li a:focus {

    color: #ba9749 !important;

}

.main-nav-list li.active a {

    font-family: Lato-bold !important;

    color: #ba9749 !important;

}



/*********************/

/*  Spice Single

/*********************/



.spice-single {

    background-color: #161616;

    padding-right: 0;

    margin-top: 60px;

}



.woocommerce div.product div.summary {

    margin-bottom: 0;

}



.woocommerce div.product .product_title.entry-title {

    font-family: Lato-bold;

    font-size: 24px;

    margin-top: 30px;

    margin-bottom: 30px;

    color: white;

}



.woocommerce div.product form.cart .single_add_to_cart_button.button {

    float: right;

    padding: 10px 25px;

    background-color: transparent;

    border: solid 1px #b08f46;

    color: #b08f46;

    font-family: Lato-bold;

    margin-right: 65px;

    margin-top: 5px;

    width: 150px;

    height: 40px;

}

.woocommerce div.product form.cart .single_add_to_cart_button.button:hover {

    background: #b08f46;

    color: black;

}

.woocommerce .summary.entry-summary form.cart {
    
    margin-bottom: 30px;

}


.woocommerce div.product .single_add_to_cart_button:hover,

.woocommerce div.product .single_add_to_cart_button:focus {

    background-color: #b08f46;

    color: black;

}



.woocommerce-page div.product .woocommerce-tabs ul.tabs {

    padding: 0;

}



.woocommerce-page div.product .woocommerce-tabs ul.tabs::before {

    display: none !important;

}



.woocommerce div.product .woocommerce-tabs ul.tabs li {

    border: 0;

    background-color: transparent;

    color: white;

    margin: 0 25px 0 0;

    padding: 0;

    font-family: Lato-regular;

    font-size: 16px;

    font-weight: normal;

}



.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,

.woocommerce div.product .woocommerce-tabs ul.tabs li:focus a {

    color: #ba9749;

}



.woocommerce div.product .woocommerce-tabs ul.tabs li::before {

    display: none;

}



.woocommerce div.product .woocommerce-tabs ul.tabs li::after {

    display: none;

}



.woocommerce div.product .woocommerce-tabs ul.tabs li a {

    color: white;

}



.woocommerce div.product .woocommerce-tabs ul.tabs li.active {

    background: transparent;

    color: #ba9749;

    border-bottom: 3px solid #ba9749;

}

.woocommerce div.product .woocommerce-tabs .panel {

    background-color: transparent;

    color: white;

}

.woocommerce-tabs .woocommerce-Tabs-panel h2 {

    display: none;

}

.woocommerce table.shop_attributes th {

    padding: 0px;

    vertical-align: top;

    width: 120px;

    font-family: Lato-bold;

}

.woocommerce div.product .woocommerce-tabs .panel p {

    font-family: Lato-light;

}

.woocommerce div.product .woocommerce-tabs .panel h3 {

    font-family: Lato-regular;

}

.woocommerce div.product .woocommerce-tabs .panel a {

    color: #ba9749;

    text-decoration: none;

}

.woocommerce table.shop_attributes td p {

    font-style: normal;

    font-family: Lato-light;

    padding: 0;

    margin-bottom: 15px;

}

.woocommerce div.product div.images {

    margin-bottom: 0;

}

.woocommerce .woocommerce-breadcrumb {

    display: none;

}

.woocommerce div.product p.price {

    color: #ba9749;

    width: 25%;

    float: left;

    font-size: 30px;

}

.product__quantity input {
    color: #ba9749;

    background-color: transparent;

    font-size: 24px;

    border: none;

    outline: none;

    width: 30px;
    
    text-align: center;  
}

.woocommerce div.product form.cart div.quantity input {

    color: #ba9749;

    background-color: transparent;

    font-size: 24px;

    border: none;

    outline: none;

    margin-top: 7px;

    border-left: 1px dashed #b08f46;

    border-right: 1px dashed #b08f46;

    width: 90px;
    
    text-align: left;
    
    padding-left: 20px;

}



.woocommerce div.product form.cart div.quantity input[type=number]::-webkit-inner-spin-button, 
.woocommerce div.product form.cart div.quantity input[type=number]::-webkit-outer-spin-button,
.product__quantity input[type=number]::-webkit-inner-spin-button,
.product__quantity input[type=number]::-webkit-outer-spin-button

 { 

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;

    margin: 0; 

}

.woocommerce div.product form.cart div.quantity input[type=number],
.product__quantity input[type=number] {

    -moz-appearance:textfield;

}



.woo__input-wrapper,
.product__quantity {

    position: relative;

}



.woo__input-up-btn {

    position: absolute;

    top: 15px;

    right: 20px;

    width: 16px;

    height: 8px;

    background-color: transparent;

    border: 0;

    outline: none;

    background-image: url('images/icn/icn_arrow_v.png');

    background-size: cover;

}

.woo__input-down-btn {

    position: absolute;

    bottom: 5px;

    right: 20px;

    width: 16px;

    height: 8px;

    background-color: transparent;

    border: 0;

    outline: none;

    background-image: url('images/icn/icn_arrow_v.png');

    background-size: cover;

    -webkit-transform: rotate(180deg);

    -moz-transform: rotate(180deg);

    -ms-transform: rotate(180deg);

    -o-transform: rotate(180deg);

    transform: rotate(180deg);

}



/*********************/

/*  Cart

/*********************/

.woocommerce .quantity .qty {
    width: 80px !important;
}


.woocommerce-message,
.woocommerce-error {
    border: 2px solid #b08f46 !important;
    background-color: #2a2a2a !important;
    color: #b08f46 !important;
    font-family: Lato-bold;
    line-height: 30px;
}
.woocommerce-message a {
    color: #b08f46 !important;
    text-decoration: underline;
}
.woocommerce-message::before,
.woocommerce-error::before {
    color: #b08f46 !important;
}

.woocommerce-message .button {
    background-color: transparent !important;
    color: #b08f46 !important;
    border: 1px solid #b08f46 !important;
    border-radius: 3px !important;
}
.woocommerce-message .button:hover,
.woocommerce-message .button:active {
    color: #161616 !important;
    background-color: #b08f46 !important;
}


.woocommerce table.cart__main-table th {

    background-color: #BA9749;

    color: black;

    text-align: left;

}



.woocommerce table.cart__main-table th.product-name {

    width: 90px;

}



.woocommerce table.cart__main-table tr:nth-of-type(odd) td {   

    background-color: #161616;

}

.woocommerce table.cart__main-table tr:nth-of-type(even) td {

    background-color: #27231B;

}

.woocommerce table.cart__main-table td.product-remove {

    text-align: center;

}

.woocommerce table.cart__main-table td.product-name a {

    color: #BA9749;

    text-decoration: underline;

}

.woocommerce table.cart__main-table td.product-price span {

    color: white;

}

.woocommerce table.cart__main-table td.product-quantity input[type=number]::-webkit-inner-spin-button,

.woocommerce table.cart__main-table td.product-quantity input[type=number]::-webkit-outer-spin-button,

 { 

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;

    margin: 0; 

    display: none !important;

}

.woocommerce table.cart__main-table td.product-quantity input[type=number] {

    -moz-appearance:textfield;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    display:none;
}

.woocommerce table.cart__main-table td.product-quantity .quantity {

    position: relative;

    width: 90px;

    padding: 3px 55px 7px 15px;

    border: 1px dashed #BA9749;

}

.woocommerce table.cart__main-table td.product-quantity .quantity .woo__input-up-btn {

    width: 12px;

    height: 6px;

    right: 15px;

    top: 9px;

}

.woocommerce table.cart__main-table td.product-quantity .quantity .woo__input-down-btn {

    width: 12px;

    height: 6px;

    right: 15px;

    bottom: 9px;

}

.woocommerce table.cart__main-table td.product-quantity input {

    color: white;

    background-color: transparent;

    text-align: left;

    font-size: 16px;

    line-height: 22px;

    border: 0;

    outline: none;

}

.woocommerce table.cart__main-table td.product-subtotal span {

    color: white;

}

.woocommerce table.cart__main-table td.actions {

    padding: 20px 30px;

}

.woocommerce table.cart__main-table td.actions .coupon .input-text {

    border: 1px solid #BA9749;

    background-color: transparent;

    color: #BA9749;

    width: 190px !important;

    padding: 7px;

}

.woocommerce table.cart__main-table td.actions .button {

    margin-left: 20px;

    background-color: #BA9749;

    color: black;

    border-radius: 0;

    padding: 7px 15px;

}

.woocommerce-cart table.cart__main-table img {

    width: 60px;

}



/*--- cart total ---*/



.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {

    padding: 20px 30px 10px;

    background-color: #161616;

}

.woocommerce .cart-collaterals .cart_totals {

    color: #BA9749;

    width: 50%;

}

.woocommerce-cart .wc-proceed-to-checkout {

    width: 40%;

    float: right;

    margin-right: 15px;

    

}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {

    padding: 7px;

    font-size: 16px;

    background-color: #BA9749;

    color: black;

    border-radius: 0;

}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {

    background-color: #BA9749;

    color: black;

}

.woocommerce-cart .cart-collaterals .cart_totals tr th,

.woocommerce-cart .cart-collaterals .cart_totals tr td {

    padding: 15px 0;

    border: 0;

}



/*********************/

/*  Checkout

/*********************/



#customer_details {

    background-color: #161616;

    padding: 10px 40px 30px;

}



.woocommerce-billing-fields h3,

.woocommerce-billing-fields label,

.woocommerce-shipping-fields h3,

.woocommerce-shipping-fields label,

#order_review_heading,

.woocommerce-checkout-review-order-table th,

.woocommerce-checkout-review-order-table td {

    color: #BA9749;

}

#order_review_heading {

    margin: 30px 0;

}

.woocommerce-billing-fields h3,

.woocommerce-shipping-fields h3,

#order_review_heading {

    font-family: Lato-bold;

}

.woocommerce-billing-fields label,

.woocommerce-shipping-fields label,

.woocommerce-checkout-review-order-table th,

.woocommerce-checkout-review-order-table td {

    font-family: Lato-regular;

}

.woocommerce table.shop_table th {

    font-size: 18px;

}

.woocommerce table.shop_table td .amount {

    font-family: Lato-regular;

    font-weight: normal;

}

.woocommerce table.shop_table td.product-total .amount {

    color: white;

}

.woocommerce form .form-row.create-account {

    display: none;

}



.woocommerce form .form-row .required {

    color: #BA9749;

}

.woocommerce form .form-row input.input-text {

    border: 1px solid #BA9749;

    color: #BA9749;

    background-color: transparent;

    height: 30px;

    padding: 5px 7px;

}

.woocommerce form .form-row textarea.input-text {

    border: 1px solid #BA9749;

    color: #BA9749;

    background-color: transparent;

    resize: none;

    padding: 5px 7px;

}

.woocommerce form .form-row .select2-container span {
    line-height: 1.4;
}

.select2-container .select2-choice {

    height: 30px;

    border: 1px solid #BA9749;

    border-radius: 0;

    color: #BA9749;

    background-color: transparent;

}

.woocommerce table.shop_table tr td:first-child,

.woocommerce table.shop_table tr th:first-child {

    -padding-left: 40px;

}

.woocommerce table.shop_table thead tr:first-of-type th{

    border-bottom: 1px dashed #ba9749;

}

.woocommerce table.shop_table tr:nth-of-type(odd) {

    background-color: #161616;

}

.woocommerce table.shop_table tr:nth-of-type(even) {

    background-color: #27231b;

}

 .woocommerce .cart-collaterals table.shop_table tr {

   background-color: #161616;

}

.woocommerce table.shop_table tr.order-total {

    background-color: #161616;

}

.woocommerce-checkout #payment {

    background-color: transparent;

}

.woocommerce-checkout #payment .form-row.place-order .wc-terms-and-conditions {

    color: #BA9749;
    font-family: Lato-bold;

}

.woocommerce-checkout #payment .form-row.place-order .wc-terms-and-conditions a {
    color: #BA9749;
    font-family: Lato-regular;
}

.woocommerce-checkout #payment ul.payment_methods {

    border-bottom: 1px dashed #BA9749;

}

.woocommerce-checkout #payment ul.payment_methods li label {

    font-family: Lato-bold;

    font-size: 18px;

    color: #BA9749;

}

.woocommerce-checkout #payment ul.payment_methods li.payment_method_paypal label img,

.woocommerce-checkout #payment ul.payment_methods li.payment_method_paypal label .about_paypal {

    display: none;

}

.woocommerce-checkout #payment div.payment_box {

    color: #BA9749;

    background-color: transparent;

    border: 0;

    padding: 0;

    margin: 0 0 25px 0;

    font-family: Lato-regular;

}

.woocommerce-checkout #payment div.payment_box::before {

    display: none;

}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {

    color: black;

    background-color: #BA9749;

    font-family: Lato-bold;

    font-size: 18px;

    padding: 7px 25px 9px;

}

.woocommerce-info {

    color: #BA9749;

    background-color: transparent;

    border: 0;

    margin-bottom: 0 !important;

}

.woocommerce-info a {

    color: #BA9749;

    text-decoration: underline;

}

.woocommerce-info:last-of-type {

    margin-bottom: 25px !important;

}

.woocommerce-info::before {

    display: none;

}



/*--- Form Login ---*/

.woocommerce form.login {

    border: 1px solid #BA9749;

}

.woocommerce form.login p {

    color: #BA9749;

    font-family: Lato-regular;

}

.woocommerce form.login label {

    color: #BA9749;

    font-family: Lato-bold;

}

.woocommerce form.login a {

    color: #BA9749;

    text-decoration: underline;

    font-family: Lato-regular;

}

.woocommerce input.button {

    font-family: Lato-bold;

    color: #BA9749;

    background-color: transparent;

    border: 1px solid #BA9749;

    padding: 6px 12px;

}

.woocommerce input.button:hover {

    color: black;

    background-color: #BA9749;

}

.main .woocommerce a.button {

    font-family: Lato-bold;

    color: #BA9749;

    background-color: transparent;

    border: 1px solid #BA9749;

    padding: 6px 12px;

}

.main .woocommerce a.button:hover {

    color: black;

    background-color: #BA9749;

}

.woocommerce form.checkout_coupon {

    border: 1px solid #BA9749;

}



.woocommerce-info {

    display: none;

}

.checkout_coupon {

    display: block !important;

}


/********************/
/* RADIO
/********************/

.wc_payment_method input[type=radio] {
    display: none;
}
.wc_payment_method label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}
.wc_payment_method input[type=radio] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(186,151,73,1);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(186,151,73,1);
    box-shadow: inset 0px 0px 0px 2px rgba(186,151,73,1);
}

.wc_payment_method input[type=radio]:checked + label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 14px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ba9749;
}

.woocommerce-checkout #payment ul.payment_methods li img {
    display: none;
}





.woocommerce ul#shipping_method li input[type="radio"] {
    display: none;
}
.woocommerce ul#shipping_method li input[type="radio"] + label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}
.woocommerce ul#shipping_method li input[type="radio"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(186,151,73,1);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(186,151,73,1);
    box-shadow: inset 0px 0px 0px 2px rgba(186,151,73,1);
}

.woocommerce ul#shipping_method li input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 14px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ba9749;
}

/********************/
/* CHECKBOX
/********************/

.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address input {
    display: none !important;
}
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address label {
    position: relative;
    -padding-left: 40px;
    cursor: pointer;
}
.wc-terms-and-conditions input[type=checkbox] {
    display: none !important;
}
.wc-terms-and-conditions label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}
.wc-terms-and-conditions input[type=checkbox] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;

    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(186,151,73,1);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(186,151,73,1);
    box-shadow: inset 0px 0px 0px 2px rgba(186,151,73,1);
}

.wc-terms-and-conditions input[type=checkbox]:checked + label::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 5px;
    width: 9px;
    height: 9px;
    background-color: #ba9749;
}


.navbar-nav > li:last-of-type span {
    color: #ba9749 !important;
    font-weight: normal !important;
}


#main .not-found {
    padding: 60px 0;
}
.not-found h1,
.not-found p {
    color: #ba9749;
}


/*********************/

/*  OTHERS

/*********************/

#submit_authorize_payment_form {
    margin-right: 20px;
}
.woocommerce a.button.cancel {

}

/*********************/

/*  MEDIA QUARIES

/*********************/



@media (max-width: 992px) {

    .home__doit .carousel-control .glyphicon-chevron-left {

        margin-left: -50px;

    }

    .home__doit .carousel-control .glyphicon-chevron-right {

        margin-right: -50px;

    }

    .nav > li > a {

        padding: 10px 5px !important;

    }

}

@media (max-width: 768px) {

    html {height: auto;}
    body {
        min-height: 0;
        padding-bottom: 0px;
    }

    .footer {
        position: static;
    }

    .recipes {
        margin-bottom: 0;
    }

    .home__heading>h2 {

        font-size: 24px;

        line-height: 28px;

    }

    .home__heading>p {

        width: 100%;

    }

    .main-title {

        text-align: center;

        margin-top: 20px;

        margin-bottom: 45px;

        font-size: 70px;

    }

    .main-title::after {

        left: 50%;

        margin-left: -90px;

    }

    .home__1st-recipe {

        height: auto;

    }

    .home__1st-recipe-img {

        width: 100%;

        max-height: 250px;

    }

    .home__1st-recipe-content {

        width: 100%;

        padding-left: 20px;

        padding-bottom: 50px;

        height: auto;

    }

    .home__1st-recipe-content .post__tags._home {

        left: 20px;

    }

    .home__doit .carousel-control .glyphicon-chevron-left {

        margin-left: -15px;

    }

    .home__doit .carousel-control .glyphicon-chevron-right {

        margin-right: -15px;

    }  

    .home__doit-text {

        text-align: center;

    }

    .services .color-overlay {

        padding-bottom: 15px;

    }

    .services__service {

        width: 100%;

    }

    .post__content {

        height: auto;

        margin-bottom: 0;



    }

    .main-nav-list li a {

        padding-top: 0 !important;

        padding-bottom: 0 !important;

    }

    .spice-single {

        padding-right: 5px;

    }

    .products__header .products__tags {
        width: 100%;
    }

    .products__categories {
        width: 50%;
    }


}

@media (max-width: 640px) {
    .services__service-img {
        width: 100%;
    }
    .services__service-content {
        width: 100%;
    }
}

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -ms-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}